// gray
$gray_1: #f8f9fa;
$gray_2: #e9ecef;
$gray_3: #ced4da;
$gray_4: #adb5bd;
$gray_5: #495057;
$gray_6: #212529;

//red
$red_1: #fff5f5;
$red_2: #ffc9c9;
$red_3: #ff8787;
$red_4: #ff6b6b;
$red_5: #f03e3e;
$red_6: #c92a2a;

//pink
$pink_1: #fff0f6;
$pink_2: #fcc2d7;
$pink_3: #f783ac;
$pink_4: #f06595;
$pink_5: #d6336c;
$pink_6: #a61e4d;

//grape
$grape_1: #f8f0fc;
$grape_2: #eebefa;
$grape_3: #da77f2;
$grape_4: #cc5de8;
$grape_5: #ae3ec9;
$grape_6: #862e9c;

//violet
$violet_1: #f3f0ff;
$violet_2: #d0bfff;
$violet_3: #9775fa;
$violet_4: #845ef7;
$violet_5: #7048e8;
$violet_6: #5f3dc4;

//indigo
$indigo_1: #edf2ff;
$indigo_2: #bac8ff;
$indigo_3: #748ffc;
$indigo_4: #5c7cfa;
$indigo_5: #4263eb;
$indigo_6: #364fc7;

//blue
$blue_1: #e7f5ff;
$blue_2: #a5d8ff;
$blue_3: #4dabf7;
$blue_4: #339af0;
$blue_5: #1c7ed6;
$blue_6: #1864ab;

//cyan
$cyan_1: #e3fafc;
$cyan_2: #99e9f2;
$cyan_3: #3bc9db;
$cyan_4: #22b8cf;
$cyan_5: #1098ad;
$cyan_6: #0b7285;

//teal
$teal_1: #e6fcf5;
$teal_2: #96f2d7;
$teal_3: #38d9a9;
$teal_4: #20c997;
$teal_5: #0ca678;
$teal_6: #087f5b;

//grean
$grean_1: #ebfbee;
$grean_2: #b2f2bb;
$grean_3: #69db7c;
$grean_4: #51cf66;
$grean_5: #37b24d;
$grean_6: #2b8a3e;

//lime
$lime_1: #f4fce3;
$lime_2: #d8f5a2;
$lime_3: #a9e34b;
$lime_4: #94d82d;
$lime_5: #74b816;
$lime_6: #5c940d;

//yellow
$yello_1: #fff9db;
$yello_2: #ffec99;
$yello_3: #ffd43b;
$yello_4: #fcc419;
$yello_5: #f59f00;
$yello_6: #e67700;

//orange
$orange_1: #fff4e6;
$orange_2: #ffd8a8;
$orange_3: #ffa94d;
$orange_4: #ff922b;
$orange_5: #f76707;
$orange_6: #d9480f;
